### Combining the Depression Tweets from SWC Wang

In [12]:
import os
import pandas as pd

# Directory containing CSV files
directory = '/home/anvita/Desktop/MarkovML/Data/'

# Initialize an empty list to store DataFrames

# Initialize an empty list to store DataFrames
dfs = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        try:
            df = pd.read_csv(file_path, encoding='latin-1')
            dfs.append(df)
        except UnicodeDecodeError:
            print(f"Error reading file: {file_path}")

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Print the combined DataFrame
print(combined_df)

      Unnamed: 0            id  conversation_id        date         username
0           1979  8.149690e+17     8.149690e+17  12/30/2016    nicosantana83  \
1           1985  8.149660e+17     8.149660e+17  12/30/2016  ketaminesavedme
2           1995  8.149640e+17     8.149640e+17  12/30/2016     combatrrrock
3           2008  8.149610e+17     8.149610e+17  12/30/2016   innermetronome
4           2019  8.149590e+17     8.149590e+17  12/30/2016    imjust_human_
...          ...           ...              ...         ...              ...
2004        1626  1.162820e+18     1.162810e+18   8/17/2019     _naminami_06
2005        1632  1.162810e+18     1.162810e+18   8/17/2019         abbasian
2006        1643  1.162810e+18     1.162810e+18   8/17/2019         takara66
2007        1655  1.162810e+18     1.162810e+18   8/17/2019   mcgaleveronica
2008        1670  1.162800e+18     1.162800e+18   8/17/2019    amethyst_beth

                                        tweet_processed
0     On topic of famous people , apparently stuff n...  \
1             Tripped hard today! This is promising!
2     if i'd known it was going to go from 78 & sunn...
3     After reading about  in academia, I feel like ...
4     You aren't worthless, you are priceless You ar...
...                                                 ...
2004  when i needed a hand, who can i turn to? when ...
2005  With nasal spray of  ketamine being introduced...
2006  When I'm at work and depressed dont say "you l...
2007  Been feeling pretty shitty all day. I put it d...
2008  Sometimes, no matter what you do,  and  can sw...

                                       hashtags
0                               ['#depression']  \
1      ['#ketamine', '#depression', '#bipolar']
2                               ['#depression']
3                               ['#depression']
4     ['#depression', '#suicide', '#weallcare']
...                                         ...
2004                ['#depression', '#anxiety']
2005  ['#ketamine', '#spravato', '#depression']
2006                   ['#depression', '#work']
2007   ['#depression', '#anxiety', '#selfcare']
2008                ['#depression', '#anxiety']

                                         tweet_original  target
0     On topic of famous people , apparently stuff n...       0
1     Tripped hard today! This is promising! #ketami...       1
2     if i'd known it was going to go from 78 & sunn...       0
3     After reading about #depression in academia, I...       0
4     You aren't worthless, you are priceless You ar...       0
...                                                 ...     ...
2004  when i needed a hand, who can i turn to? when ...       1
2005  With nasal spray of #ketamine (#Spravato) bein...       0
2006  When I'm at work and depressed dont say "you l...       1
2007  Been feeling pretty shitty all day. I put it d...       1
2008  Sometimes, no matter what you do, #depression ...       1

[2009 rows x 9 columns]

In [20]:
combined_df=combined_df.drop_duplicates(subset='tweet_processed')

In [24]:
combined_df=combined_df.drop('Unnamed: 0',axis=1)
combined_df.to_csv('Twtiiter_data.csv', index=False)

In [25]:
combined_df

,id,conversation_id,date,username,tweet_processed,hashtags,tweet_original,target
0,8.149690e+17,8.149690e+17,12/30/2016,nicosantana83,"On topic of famous people , apparently stuff n...",['#depression'],"On topic of famous people , apparently stuff n...",0
1,8.149660e+17,8.149660e+17,12/30/2016,ketaminesavedme,Tripped hard today! This is promising!,"['#ketamine', '#depression', '#bipolar']",Tripped hard today! This is promising! #ketami...,1
2,8.149640e+17,8.149640e+17,12/30/2016,combatrrrock,if i'd known it was going to go from 78 & sunn...,['#depression'],if i'd known it was going to go from 78 & sunn...,0
3,8.149610e+17,8.149610e+17,12/30/2016,innermetronome,"After reading about in academia, I feel like ...",['#depression'],"After reading about #depression in academia, I...",0
4,8.149590e+17,8.149590e+17,12/30/2016,imjust_human_,"You aren't worthless, you are priceless You ar...","['#depression', '#suicide', '#weallcare']","You aren't worthless, you are priceless You ar...",0
...,...,...,...,...,...,...,...,...
2004,1.162820e+18,1.162810e+18,8/17/2019,_naminami_06,"when i needed a hand, who can i turn to? when ...","['#depression', '#anxiety']","when i needed a hand, who can i turn to? when ...",1
2005,1.162810e+18,1.162810e+18,8/17/2019,abbasian,With nasal spray of ketamine being introduced...,"['#ketamine', '#spravato', '#depression']",With nasal spray of #ketamine (#Spravato) bein...,0
2006,1.162810e+18,1.162810e+18,8/17/2019,takara66,"When I'm at work and depressed dont say ""you l...","['#depression', '#work']","When I'm at work and depressed dont say ""you l...",1
2007,1.162810e+18,1.162810e+18,8/17/2019,mcgaleveronica,Been feeling pretty shitty all day. I put it d...,"['#depression', '#anxiety', '#selfcare']",Been feeling pretty shitty all day. I put it d...,1
2008,1.162800e+18,1.162800e+18,8/17/2019,amethyst_beth,"Sometimes, no matter what you do, and can sw...","['#depression', '#anxiety']","Sometimes, no matter what you do, #depression ...",1

In [41]:
df1 = pd.read_csv('sentiment_tweets3.csv', encoding='latin-1')
df1=df1.drop('Unnamed: 0',axis=1)
df1.columns=['tweet','target']
df1

                                                   tweet  target
0      just had a real good moment. i missssssssss hi...       0
1             is reading manga  http://plurk.com/p/mzp1e       0
2      @comeagainjen http://twitpic.com/2y2lx - http:...       0
3      @lapcat Need to send 'em to my accountant tomo...       0
4          ADD ME ON MYSPACE!!!  myspace.com/LookThunder       0
...                                                  ...     ...
10309  No Depression by G Herbo is my mood from now o...       1
10310  What do you do when depression succumbs the br...       1
10311  Ketamine Nasal Spray Shows Promise Against Dep...       1
10312  dont mistake a bad day with depression! everyo...       1
10313                                                  0       1

[10314 rows x 2 columns]

## Cleaning data and extracting equal rows

In [1]:
import pandas as pd
from langdetect import detect, LangDetectException
import re
import unicodedata

In [2]:
def clean_text(text):
    # Remove words starting with '@'
    cleaned_text = re.sub(r'@\w+\s?', '', text)
    
    # Remove URLs
    cleaned_text = re.sub(r'http\S+|www\S+', '', cleaned_text)
    
    # Remove HTML entities
    cleaned_text = re.sub(r"&\w+;", '', cleaned_text)
    
    # Remove Unicode characters and normalize the text
    cleaned_text = unicodedata.normalize('NFKD', cleaned_text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    
    # Remove special characters
    cleaned_text = re.sub(r"[^a-zA-Z0-9\s]", '', cleaned_text)
    
    # Remove extra whitespaces
    cleaned_text = re.sub(r"\s+", ' ', cleaned_text).strip()
    
    return cleaned_text

In [3]:
df1=pd.read_csv('Final_Equal_tweets.csv')
class_counts = df1['target'].value_counts()
# Display the counts
print(class_counts)

target
0    3938
1    3938
Name: count, dtype: int64

## Cleaning the text and Making equal split of the data
- For Entries with Target label as '0'

In [4]:

# Convert 'tweet' column to string type
df1['tweet'] = df1['tweet'].astype(str)

# Filter the dataframe for target values equal to 0
df1_filtered_0 = df1[df1['target'] == 0].copy()

# # Clean the 'tweet' column and store cleaned tweets in a new column
df1_filtered_0['cleaned_tweet'] = df1_filtered_0['tweet'].apply(clean_text)

# # Store original tweets and cleaned tweets in separate columns
df_cleaned_0 = pd.DataFrame()
df_cleaned_0['original_tweet'] = df1_filtered_0['tweet']
df_cleaned_0['cleaned_tweet'] = df1_filtered_0['cleaned_tweet']

df_cleaned_0

# # Filter the resulting dataframe for English tweets
# df_cleaned['language'] = None
# for i, tweet in enumerate(df_cleaned['cleaned_tweet']):
#     try:
#         df_cleaned.loc[i, 'language'] = detect(tweet)
#     except LangDetectException:
#         df_cleaned.loc[i, 'language'] = 'unknown'

# df_cleaned = df_cleaned[df_cleaned['language'] == 'en']
# print(df_cleaned.shape)

,original_tweet,cleaned_tweet
0,Just got my email won Euromillions Is A AA1212...,Just got my email won Euromillions Is A AA1212...
1,i used so much hairspray today that its exactl...,i used so much hairspray today that its exactl...
2,What a brillant day a great for a walk up Blac...,What a brillant day a great for a walk up Blac...
3,stuff and jonas brothers on it so i had to buy...,stuff and jonas brothers on it so i had to buy...
4,Went shopping try to get things fixed Yo my sh...,Went shopping try to get things fixed Yo my sh...
...,...,...
7088,Friday Motivation...Happy weekend FAM...T G.I....,Friday MotivationHappy weekend FAMT GIF
7089,First day as an Executive Sales and Marketing ...,First day as an Executive Sales and Marketing ...
7090,Made by color sand art relax color foryou pain...,Made by color sand art relax color foryou pain...
7091,Thank you for all your business questions toda...,Thank you for all your business questions toda...
7092,police car light New Product Alert! police ca...,police car light New Product Alert police car ...

In [5]:
df_cleaned_0=df_cleaned_0.drop(['original_tweet'],axis=1)
df_cleaned_0['target']=0
df_cleaned_0

                                          cleaned_tweet  target
0     Just got my email won Euromillions Is A AA1212...       0
1     i used so much hairspray today that its exactl...       0
2     What a brillant day a great for a walk up Blac...       0
3     stuff and jonas brothers on it so i had to buy...       0
4     Went shopping try to get things fixed Yo my sh...       0
...                                                 ...     ...
7088            Friday MotivationHappy weekend FAMT GIF       0
7089  First day as an Executive Sales and Marketing ...       0
7090  Made by color sand art relax color foryou pain...       0
7091  Thank you for all your business questions toda...       0
7092  police car light New Product Alert police car ...       0

[3938 rows x 2 columns]

### For Entries with Target label as '1'

In [6]:

# Convert 'tweet' column to string type
df1['tweet'] = df1['tweet'].astype(str)

# Filter the dataframe for target values equal to 0
df1_filtered_1 = df1[df1['target'] == 1].copy()

# # Clean the 'tweet' column and store cleaned tweets in a new column
df1_filtered_1['cleaned_tweet'] = df1_filtered_1['tweet'].apply(clean_text)

# # Store original tweets and cleaned tweets in separate columns
df_cleaned_1 = pd.DataFrame()
df_cleaned_1['original_tweet'] = df1_filtered_1['tweet']
df_cleaned_1['cleaned_tweet'] = df1_filtered_1['cleaned_tweet']

df_cleaned_1

# # Filter the resulting dataframe for English tweets
# df_cleaned['language'] = None
# for i, tweet in enumerate(df_cleaned['cleaned_tweet']):
#     try:
#         df_cleaned.loc[i, 'language'] = detect(tweet)
#     except LangDetectException:
#         df_cleaned.loc[i, 'language'] = 'unknown'

# df_cleaned = df_cleaned[df_cleaned['language'] == 'en']
# print(df_cleaned.shape)

,original_tweet,cleaned_tweet
2312,The lack of this understanding is a small but ...,The lack of this understanding is a small but ...
2313,i just told my parents about my depression and...,i just told my parents about my depression and...
2314,depression is something i don't speak about ev...,depression is something i dont speak about eve...
2315,Made myself a tortilla filled with pb&j. My de...,Made myself a tortilla filled with pbj My depr...
2316,@WorldofOutlaws I am gonna need depression med...,I am gonna need depression meds soon these rai...
...,...,...
7871,Been a bit sick this week so channeling this i...,Been a bit sick this week so channeling this i...
7872,Employers must ensure their nurses are getting...,Employers must ensure their nurses are getting...
7873,Now wld be a great time for the LaborParty to ...,Now wld be a great time for the LaborParty to ...
7874,Check out the new publication by Professor Les...,Check out the new publication by Professor Les...
7875,Private health insurance delivers value for yo...,Private health insurance delivers value for yo...

In [7]:
df_cleaned_1=df_cleaned_1.drop(['original_tweet'],axis=1)
df_cleaned_1['target']=1
df_cleaned_1

                                          cleaned_tweet  target
2312  The lack of this understanding is a small but ...       1
2313  i just told my parents about my depression and...       1
2314  depression is something i dont speak about eve...       1
2315  Made myself a tortilla filled with pbj My depr...       1
2316  I am gonna need depression meds soon these rai...       1
...                                                 ...     ...
7871  Been a bit sick this week so channeling this i...       1
7872  Employers must ensure their nurses are getting...       1
7873  Now wld be a great time for the LaborParty to ...       1
7874  Check out the new publication by Professor Les...       1
7875  Private health insurance delivers value for yo...       1

[3938 rows x 2 columns]

## Reading the file and spliting based on Lable

In [12]:
combined_df = pd.concat([df_cleaned_0,df_cleaned_1], axis=0)

# Reset the index of the combined DataFrame
combined_df.reset_index(drop=True, inplace=True)

# Print the combined DataFrame
(combined_df)
combined_df.to_csv('Cleaned_Tweets.csv',index=False)